<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Demo Video Player</title>
    <link rel="stylesheet" href="https://cdn.vidstack.io/player/theme.css" />
    <link rel="stylesheet" href="https://cdn.vidstack.io/player/video.css" />
    <style>
        body {
            margin: 0;
            background: #000;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body>
    <div id="videoPlayerContainer" style="width: 100vw"></div>
    <script>
        (function () {
            const script = document.createElement('script');
            script.src = "https://cdn.jsdelivr.net/npm/eruda";
            document.body.append(script);
            script.onload = function () { eruda.init(); }
        })();
    </script>
    <script type="module">
        import { VidstackPlayer, VidstackPlayerLayout } from 'https://cdn.vidstack.io/player';

        const video_id = "{{ video_id }}";
        const secret_key = "{{ secret_key }}";

        async function fetchMedia() {
            const response = await fetch(`/v1/video/${video_id}`, {
                method: 'GET',
                headers: {
                    'X-Secret': secret_key
                }
            });

            if (!response.ok) {
                throw new Error('Network response was not ok ' + response.statusText);
            }

            const data = await response.json();
            const streamsUrl = data.formats.filter(function (item) {
                return item.video_ext === "mp4" && item.protocol === "m3u8_native"
            });
            const streamUrl = streamsUrl.at(-1)["manifest_url"] + ".m3u8";

            if (streamUrl) {
                return { title: data.title, streamUrl: streamUrl, thumbnailUrl: data.thumbnail, storyboard: null };
            } else {
                throw new Error('Video or audio data not found in the response');
            }
        }

        function setupPlayer(title, streamUrl, thumbnailUrl, storyboard) {
            const player = VidstackPlayer.create({
                target: '#videoPlayerContainer',
                title: title,
                src: streamUrl,
                poster: thumbnailUrl,
                layout: new VidstackPlayerLayout({
                    // thumbnails: storyboard,
                }),
            });
        }

        fetchMedia()
            .then(({ title, streamUrl, thumbnailUrl, storyboard }) => {
                setupPlayer(title, streamUrl, thumbnailUrl, storyboard);
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    </script>
</body>

</html>