<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Custom Video Player</title>
    <link rel="stylesheet" href="https://cdn.vidstack.io/player/theme.css" />
    <link rel="stylesheet" href="https://cdn.vidstack.io/player/video.css" />
    <style>
        body {
            margin: 0;
            background: #000;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div id="videoPlayerContainer" style="width: 100vw"></div>
    <script type="module">
        import { VidstackPlayer, VidstackPlayerLayout } from 'https://cdn.vidstack.io/player';

        const video_id = "{{ video_id }}";
        const secret_key = "{{ secret_key }}";

        const getMp4Videos = (data) => {
          return data
            .filter(item => item.ext === 'mp4' && item.protocol === 'https')
            .map(item => ({
              src: item.url + ".mp4",
              type: 'video/mp4',
              width: item.width,
              height: item.height
            }));
        };

        async function fetchMedia() {
            const response = await fetch(`/v1/video/${video_id}`, {
                method: 'GET',
                headers: {
                    'X-Secret': secret_key
                }
            });

            if (!response.ok) {
                throw new Error('Network response was not ok ' + response.statusText);
            }

            const data = await response.json();
            const videoData = getMp4Videos(data.formats);
            const audioData = data.formats.find(item => item.acodec !== "none" && item.protocol === "https");
            let storyboard = data.formats.find(item => item.format_id === "sb0" && item.format_note === "storyboard");
            storyboard = encodeURIComponent("aa");

            if (videoData && audioData) {
                return { title: data.title, videoUrls: videoData, audioUrl: audioData.url, thumbnailUrl: data.thumbnail, storyboard: storyboard };
            } else {
                throw new Error('Video or audio data not found in the response');
            }
        }

        function setupPlayer(title, videoUrls, audioUrl, thumbnailUrl, storyboard) {
            const player = VidstackPlayer.create({
                target: '#videoPlayerContainer',
                title: title,
                viewType: 'video',
                  streamType: 'on-demand',
                  logLevel: 'warn',
                  crossOrigin: true,
                  playsInline: true,
                src: videoUrls,
                poster: thumbnailUrl,
                layout: new VidstackPlayerLayout(),
              });
        }

        fetchMedia()
            .then(({ title, videoUrls, audioUrl, thumbnailUrl, storyboard }) => {
                setupPlayer(title, videoUrls, audioUrl, thumbnailUrl, storyboard);
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    </script>
</body>
</html>
